@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div id="bgmain">
    <h1 class="display-4">Welcome</h1>
    <h3>Hospital management system!</h3>
</div>
<hr />
<div class="block">
    <h1> Welcome to Our Hospital Management System</h1>
    <div>
        <p>We car about your well-being and your quality of life, we pride ourselves in providing you with the most effective system and the ability in providing excellent healthcare to the south african citizens!</p>
        <img src="~/images/linen.jpg">
    </div>
    <br />
</div>
<div class="block">
    <h1> Patient Registration Made Easy</h1>
    <div>
        <p>Welcome to our advanced Hospital Management System (HMS). Our cutting-edge technology is designed to streamline and enhance the efficiency of healthcare management. From patient registration and appointment scheduling to billing and medical records management, our HMS ensures seamless operations and optimal patient care.!</p>
        <img src="~/images/pngwing.com.png" />
    </div>
    <br />
</div>
<div class="block">
    <h1> Efficient Appointment Scheduling</h1>
    <div>
        <img src="~/images/book-appointment.jpeg" />
        <p>Our Hospital Management System simplifies the patient registration process. Through our user-friendly interface, patients can provide their personal information, medical history, and insurance details. This information is securely stored in the system, enabling healthcare providers to access accurate data during consultations and treatments.</p>
    </div>
    <br />
</div>
<div class="block">
    <h1> Comprehensive Electronic Health Records (EHR)</h1>
    <p> Say goodbye to long waiting times and confusion with our integrated appointment scheduling module. Patients can conveniently book appointments online, selecting their preferred healthcare provider and suitable time slot. Our system sends automated reminders to patients, reducing no-shows and optimizing the healthcare provider's schedule.!</p>
    <br />
</div>
<div class="block">
    <h1> Streamlined Billing and Invoicing</h1>
    <p>Our HMS maintains comprehensive Electronic Health Records for each patient. This digital repository includes medical history, diagnoses, prescribed medications, lab results, and treatment plans. Authorized medical staff can access this information in real-time, leading to well-informed decisions and improved patient care.!</p>
    <br />
</div>
<div class="block">
    <h1> Inventory and Resource Management</h1>
    <p>Managing healthcare bills is hassle-free with our system. It accurately records services rendered and treatments provided, generating detailed invoices for patients. The system is integrated with insurance databases to facilitate seamless claims processing, reducing administrative overhead and ensuring timely payments.!</p>
    <br />
</div>
<div class="block">
    <h1> Data Security and Privacy</h1>
    <p>Efficient healthcare delivery requires well-managed resources. Our HMS assists in tracking medical equipment, supplies, and medications. This helps avoid shortages, ensures timely restocking, and enhances the overall operational efficiency of the hospital.!</p>
    <br />
</div>
<div class="block">
    <h1> Analytics for Informed Decision-Making</h1>
    <p>We prioritize the security and privacy of patient information. Our HMS employs robust encryption and access controls to safeguard sensitive data from unauthorized access. Regular system audits and compliance with industry standards ensure a secure environment for all patient-related information.!</p>
    <br />
</div>
<div class="block">
    <h1> Collaborative Care Coordination</h1>
    <p>We prioritize the security and privacy of patient information. Our HMS employs robust encryption and access controls to safeguard sensitive data from unauthorized access. Regular system audits and compliance with industry standards ensure a secure environment for all patient-related information.!</p>
    <br />

</div>


<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<p>Use this page to detail your site's privacy policy.</p>
